<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="column_selection_y"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="ProductRelated_Duration"/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="column_selection_y"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="ProductRelated_Duration"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="defaultValue">
            <entry key="column" type="xstring" value="Normalized 51"/>
        </config>
        <entry key="hideInDialog" type="xboolean" value="false"/>
        <entry key="parameterName" type="xstring" value="column_selection_y"/>
        <entry key="label" type="xstring" value="Eje Y"/>
        <entry key="description" type="xstring" value="Seleccione la columna de Eje Y. Esta será utilizada para reprentar los resultados ya agrupados"/>
        <entry key="required" type="xboolean" value="true"/>
        <entry key="flowVariableName" type="xstring" value="column_selection_y"/>
        <config key="possibleColumns">
            <entry key="array-size" type="xint" value="107"/>
            <entry key="0" type="xstring" value="Product_Code"/>
            <entry key="1" type="xstring" value="W0"/>
            <entry key="2" type="xstring" value="W1"/>
            <entry key="3" type="xstring" value="W2"/>
            <entry key="4" type="xstring" value="W3"/>
            <entry key="5" type="xstring" value="W4"/>
            <entry key="6" type="xstring" value="W5"/>
            <entry key="7" type="xstring" value="W6"/>
            <entry key="8" type="xstring" value="W7"/>
            <entry key="9" type="xstring" value="W8"/>
            <entry key="10" type="xstring" value="W9"/>
            <entry key="11" type="xstring" value="W10"/>
            <entry key="12" type="xstring" value="W11"/>
            <entry key="13" type="xstring" value="W12"/>
            <entry key="14" type="xstring" value="W13"/>
            <entry key="15" type="xstring" value="W14"/>
            <entry key="16" type="xstring" value="W15"/>
            <entry key="17" type="xstring" value="W16"/>
            <entry key="18" type="xstring" value="W17"/>
            <entry key="19" type="xstring" value="W18"/>
            <entry key="20" type="xstring" value="W19"/>
            <entry key="21" type="xstring" value="W20"/>
            <entry key="22" type="xstring" value="W21"/>
            <entry key="23" type="xstring" value="W22"/>
            <entry key="24" type="xstring" value="W23"/>
            <entry key="25" type="xstring" value="W24"/>
            <entry key="26" type="xstring" value="W25"/>
            <entry key="27" type="xstring" value="W26"/>
            <entry key="28" type="xstring" value="W27"/>
            <entry key="29" type="xstring" value="W28"/>
            <entry key="30" type="xstring" value="W29"/>
            <entry key="31" type="xstring" value="W30"/>
            <entry key="32" type="xstring" value="W31"/>
            <entry key="33" type="xstring" value="W32"/>
            <entry key="34" type="xstring" value="W33"/>
            <entry key="35" type="xstring" value="W34"/>
            <entry key="36" type="xstring" value="W35"/>
            <entry key="37" type="xstring" value="W36"/>
            <entry key="38" type="xstring" value="W37"/>
            <entry key="39" type="xstring" value="W38"/>
            <entry key="40" type="xstring" value="W39"/>
            <entry key="41" type="xstring" value="W40"/>
            <entry key="42" type="xstring" value="W41"/>
            <entry key="43" type="xstring" value="W42"/>
            <entry key="44" type="xstring" value="W43"/>
            <entry key="45" type="xstring" value="W44"/>
            <entry key="46" type="xstring" value="W45"/>
            <entry key="47" type="xstring" value="W46"/>
            <entry key="48" type="xstring" value="W47"/>
            <entry key="49" type="xstring" value="W48"/>
            <entry key="50" type="xstring" value="W49"/>
            <entry key="51" type="xstring" value="W50"/>
            <entry key="52" type="xstring" value="W51"/>
            <entry key="53" type="xstring" value="MIN"/>
            <entry key="54" type="xstring" value="MAX"/>
            <entry key="55" type="xstring" value="Normalized 0"/>
            <entry key="56" type="xstring" value="Normalized 1"/>
            <entry key="57" type="xstring" value="Normalized 2"/>
            <entry key="58" type="xstring" value="Normalized 3"/>
            <entry key="59" type="xstring" value="Normalized 4"/>
            <entry key="60" type="xstring" value="Normalized 5"/>
            <entry key="61" type="xstring" value="Normalized 6"/>
            <entry key="62" type="xstring" value="Normalized 7"/>
            <entry key="63" type="xstring" value="Normalized 8"/>
            <entry key="64" type="xstring" value="Normalized 9"/>
            <entry key="65" type="xstring" value="Normalized 10"/>
            <entry key="66" type="xstring" value="Normalized 11"/>
            <entry key="67" type="xstring" value="Normalized 12"/>
            <entry key="68" type="xstring" value="Normalized 13"/>
            <entry key="69" type="xstring" value="Normalized 14"/>
            <entry key="70" type="xstring" value="Normalized 15"/>
            <entry key="71" type="xstring" value="Normalized 16"/>
            <entry key="72" type="xstring" value="Normalized 17"/>
            <entry key="73" type="xstring" value="Normalized 18"/>
            <entry key="74" type="xstring" value="Normalized 19"/>
            <entry key="75" type="xstring" value="Normalized 20"/>
            <entry key="76" type="xstring" value="Normalized 21"/>
            <entry key="77" type="xstring" value="Normalized 22"/>
            <entry key="78" type="xstring" value="Normalized 23"/>
            <entry key="79" type="xstring" value="Normalized 24"/>
            <entry key="80" type="xstring" value="Normalized 25"/>
            <entry key="81" type="xstring" value="Normalized 26"/>
            <entry key="82" type="xstring" value="Normalized 27"/>
            <entry key="83" type="xstring" value="Normalized 28"/>
            <entry key="84" type="xstring" value="Normalized 29"/>
            <entry key="85" type="xstring" value="Normalized 30"/>
            <entry key="86" type="xstring" value="Normalized 31"/>
            <entry key="87" type="xstring" value="Normalized 32"/>
            <entry key="88" type="xstring" value="Normalized 33"/>
            <entry key="89" type="xstring" value="Normalized 34"/>
            <entry key="90" type="xstring" value="Normalized 35"/>
            <entry key="91" type="xstring" value="Normalized 36"/>
            <entry key="92" type="xstring" value="Normalized 37"/>
            <entry key="93" type="xstring" value="Normalized 38"/>
            <entry key="94" type="xstring" value="Normalized 39"/>
            <entry key="95" type="xstring" value="Normalized 40"/>
            <entry key="96" type="xstring" value="Normalized 41"/>
            <entry key="97" type="xstring" value="Normalized 42"/>
            <entry key="98" type="xstring" value="Normalized 43"/>
            <entry key="99" type="xstring" value="Normalized 44"/>
            <entry key="100" type="xstring" value="Normalized 45"/>
            <entry key="101" type="xstring" value="Normalized 46"/>
            <entry key="102" type="xstring" value="Normalized 47"/>
            <entry key="103" type="xstring" value="Normalized 48"/>
            <entry key="104" type="xstring" value="Normalized 49"/>
            <entry key="105" type="xstring" value="Normalized 50"/>
            <entry key="106" type="xstring" value="Normalized 51"/>
        </config>
        <entry key="type" type="xstring" value="Dropdown"/>
        <entry key="limit_number_visible_options" type="xboolean" value="false"/>
        <entry key="number_visible_options" type="xint" value="10"/>
        <config key="input_filter">
            <config key="type_filter">
                <entry key="org.knime.core.data.StringValue" type="xboolean" value="true"/>
                <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.time.localdatetime.LocalDateTimeValue" type="xboolean" value="false"/>
            </config>
            <entry key="allow_all_types" type="xboolean" value="true"/>
            <entry key="filter_columns_without_domain" type="xboolean" value="false"/>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Seleccionar Eje Y"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="47"/>
        <entry key="y-coordinate" type="xint" value="119"/>
        <entry key="width" type="xint" value="106"/>
        <entry key="height" type="xint" value="15"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="0"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20230412"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.js.base.node.configuration.selection.column.ColumnSelectionDialogNodeFactory2"/>
    <entry key="node-name" type="xstring" value="Column Selection Configuration"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.2.1.v202402011442"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.2.1.v202402021428"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Selection Configuration"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
